name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & push backend
        working-directory: backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/autoscale-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/autoscale-backend:latest

      - name: Build & push frontend
        working-directory: frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/autoscale-frontend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/autoscale-frontend:latest

      - name: Deploy to Minikube
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -n autoscale -f k8s
