name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & push backend image
        working-directory: ./backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/autoscale-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/autoscale-backend:latest

      - name: Build & push frontend image
        working-directory: ./frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/autoscale-frontend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/autoscale-frontend:latest

      - name: Set kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Apply k8s manifests
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -n autoscale -f k8s
