name: CI-CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build & push backend image
      - name: Build backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/autoscale-backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/autoscale-backend:latest

      # Build & push frontend image
      - name: Build frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/autoscale-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/autoscale-frontend:latest

      # Deploy to Kubernetes      
      - name: Set kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/namespace.yaml
          kubectl apply -n autoscale -f k8s
